@import url("https://fonts.googleapis.com/css2?family=Noto+Serif+KR:wght@300&display=swap");

/* 걸려있는 속성 리셋 */
* {
  margin: 0;
  padding: 0;
  border: none;
  font-family: "Noto Sans KR", sans-serif;
}

a {
  text-decoration-line: none;
  color: #808080;
}

header {
  width: 100%;
  height: 220px;
  background-color: aquamarine;
}

nav {
  width: 100%;
  height: 50px;
  background-color: coral;
}

.logos {
  width: 100%;
  height: 100px;
  background-color: rgb(230, 49, 49);
}

.topMenu {
  width: 100%;
  height: 70px;
  background-color: rgb(237, 226, 19);
}

.contents {
  width: 100%;
  height: 800px;
  background-color: rgb(251, 243, 236);
  display: flex;
  justify-content: center;
}

.loginSection {
  width: 750px;
  height: 750px;
  margin-top: 25px;
  background-color: white;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.loginSection > h2 {
  font-size: 24px;
  color: #020006;
  margin-bottom: 20px;
  justify-content: center;
  display: flex;
  padding-top: 100px;
}

.loginSection > h3 {
  font-size: 16px;
  color: #808080;
  margin-bottom: 20px;
  justify-content: center;
  display: flex;
  font-weight: lighter;
}

#login {
  width: 510px;
  background-color: rgb(128, 194, 118);
  border-color: transparent;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

input {
  box-sizing: border-box;
  border-radius: 5px;
}

input:focus {
  border-color: #0982f0;
  outline: none;
}

.account {
  font-size: large;
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 500px;
  height: 50px;
  margin-bottom: 3px;
  padding: 3px;
  border: 1px solid lightgray;
  border-radius: 3px;
}

/* input:nth-child(1) 
  color: red;
} */

.loginElements {
  display: flex;
}

.loginElements > a {
  float: right;
}

#alert {
  border-color: transparent;
}

footer {
  width: 100%;
  height: 300px;
  background-color: cadetblue;
}
